<%- include('header') %>

<div class="container-fluid">
    <div class="row row-cols-lg-3">
        <% for (user of users) { %>
        <div class="col">
            <div class="card tjs-row">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= user.userName %></h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a class="card-link" href="/<%= user.userName %>/tweets">Tweetek</a></div>
                            <div class="col-1"></div>
                            <% if (typeof user.currentlyFollows !== 'undefined') { %>
                            <% if (user.currentlyFollows) { %>
                            <form class="col-5 text-end" method="POST" action="/account/unfollow/<%= user.userName %>">
                                <button class="btn btn-danger" type="submit">Követés leállítása</button>
                            </form>
                            <% } else { %>
                            <form class="col-5 text-end" method="POST" action="/account/follow/<%= user.userName %>">
                                <button class="btn btn-primary" type="submit">Követem</button>
                            </form>
                            <% }} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%- include('footer') %>
