<%- include('header') %>

<div class="container-fluid">
<% if (typeof tweetsUserName !== 'undefined') { %>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="container tjs-row">
                <div class="row">
                    <h4 class="col-6"><%= tweetsUserName %> tweetjei</h4>
                    <div class="col-2"></div>
                    <% if (typeof signedInUserName !== 'undefined' && tweetsUserName !== signedInUserName) { %>
                    <% if (currentlyFollows) { %>
                    <form class="col-4 text-end" method="POST" action="/account/unfollow/<%= tweetsUserName %>">
                        <button class="btn btn-warning" type="submit">Követés leállítása</button>
                    </form>
                    <% } else { %>
                    <form class="col-4 text-end" method="POST" action="/account/follow/<%= tweetsUserName %>">
                        <button class="btn btn-primary" type="submit">Követem</button>
                    </form>
                    <% } } %>
                </div>
            </div>
        <div class="col-lg-3"></div>
    </div>
<% } %>
    <% tweets.forEach(({userName, content, id}) => { %>
    <div class="row tjs-row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= userName %></h5>
                    <p class="card-text text-center"><%= content %></p>
                    <% if (typeof signedInUserName !== 'undefined' && userName === signedInUserName) { %>
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><a class="card-link" href="/tweet?tweetid=<%= id %>">Szerkesztés</a></div>
                            <div class="col-2"></div>
                            <form class="col-4 text-end" method="POST" action="/tweet/<%= id %>/delete">
                                <button class="btn btn-danger" type="submit">Törlés</button>
                            </form>        
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <% }) %>
</div>

<%- include('footer') %>
